<md-card-title class="main-title">{{title}}</md-card-title>
<md-card-subtitle class="main-title"><span>{{subtitle}}</span></md-card-subtitle>
<md-card class="card-input">
  <md-card-title>Card Information</md-card-title>
  <md-card-subtitle>Input the fields below and see the data change on the card/s beside.</md-card-subtitle>
      <md-input-container class="input-data">
        <input mdInput placeholder="Name" value="{{data.name}}">
      </md-input-container>
      <md-input-container class="input-data">
        <input mdInput placeholder="Job Title" value="{{data.jobTitle}}">
      </md-input-container>
      <md-input-container class="input-data">
        <input mdInput placeholder="Avatar Image URL" value="{{data.avatarImg}}">
      </md-input-container>
      <md-input-container class="input-data">
        <input mdInput placeholder="Post Image URL" value="{{data.postImg}}">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Description" class="input-data" value="{{data.desc}}"></textarea>
      </md-input-container>
      <button md-raised-button>Save</button>
</md-card>
<input-data></input-data>
