.card-input { margin: 50px; width: 400px; float:left; z-index: 1;}
.input-data { width: 400px; }
.icon { color: #000; }
.main-title { font-size: 2em; margin: 50px 50px auto; font-family: Roboto;}
.main-title span { font-size: 0.65em; }
