<md-card class="card-input">
  <md-card-title>Card Information</md-card-title>
  <md-card-subtitle>Input the fields below and see the data change on the card/s beside.</md-card-subtitle>
      <md-input-container class="input-data">
        <input mdInput placeholder="Name">
      </md-input-container>
      <md-input-container class="input-data">
        <input mdInput placeholder="Job Title">
      </md-input-container>
      <md-input-container class="input-data">
        <input mdInput placeholder="Avatar Image URL">
      </md-input-container>
      <md-input-container class="input-data">
        <input mdInput placeholder="Post Image URL">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Description" class="input-data"></textarea>
      </md-input-container>
      <button md-raised-button>Submit</button>
</md-card>
