<md-card class="main-card">
  <md-card-header>
    <div md-card-avatar class="card-image"></div>
    <md-card-title>Marc Reyes</md-card-title>
    <md-card-subtitle class="subtext">Web Developer</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://pbs.twimg.com/profile_images/839777576360910848/OIxV7Fel_400x400.jpg">
  <md-card-content>
    <p>
      This is Marc and he loves watching purge movies. Watching the complete sequels of The Purge made his life
      complete.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
